::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e9d5ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9333ea;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e22ce;
}
